@model List<Student>
@{
    ViewData["Title"] = "List of students";
}

<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="pt-5">
                <h2>
                    List of Students
                </h2>
            </div>
        </div>
        <div class="col-3" style="padding-top:5%;">
            <a class="btn btn-secondary form-control" asp-action="upsertstudent" style="height:auto;">
                Create new student
            </a>
        </div>
    </div>
    <hr />
    <div class="border shadow table-responsive" style="padding:20px;margin-bottom:10%;">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            @Model[i].Name
                        </td>
                        <td>
                            @Model[i].Email
                        </td>
                        <td>
                            @Model[i].Address
                        </td>
                        <td>
                            @(Model[i].Gender == null ? "Not yet assigned" : Model[i].Gender.Name)
                        </td>
                        <td>
                            <a asp-action="upsertstudent" asp-route-id="@Model[i].StudentId" class="btn btn-success mb-2">
                                Edit
                            </a>
                            <a asp-action="deletestudent" class="btn btn-danger mb-2"  asp-route-id="@Model[i].StudentId" >
                                Delete
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
